Source: dummy
Section: misc
Priority: optional
Maintainer: Vincent Smeets <Vincent.VSmeets@GMail.com>
Build-Depends: debhelper (>= 9.0.0)
Standards-Version: 3.9.5
Homepage: http://www.smeets.org/

Package: dummy
Architecture: all
Depends: ${misc:Depends}
Description: Just a dummy package
 This is an empty package. It only shows the way the
 {pre,post}{inst,rm} scripts are called.
